.heading{
    color: rgb(143, 71, 71);
}

img{
    width: 200px;
}

.card{
    border: 1px solid #ddd;
    width:220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.452);

}
